@import 'colors';

.container {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
}

$image-dia: 20rem;

.image {
	width: fit-content;
	height: fit-content;
	padding: 0.3rem;
	display: grid;
	place-content: center;
	border-radius: 50%;
	background: $white-color;
	margin-right: 5rem;
	img {
		width: $image-dia !important;
		height: $image-dia !important;
		border-radius: 50%;
	}
}

.imgDiv {
	display: grid;
	place-content: center;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	h1 {
		font-size: 4rem;
		text-align: center;
		span {
			color: $green-color;
		}
	}
	h4 {
		font-size: 1.4rem;
		font-weight: 400;
		color: $orange-color;
	}
	p {
		margin-top: 2rem;
		text-align: center;
		max-width: 570px;
		font-size: 1.6rem;
	}
	ul {
		margin-top: 3rem;
		list-style: none;
		display: flex;
		width: 100%;
		justify-content: space-around;
		margin-bottom: 2rem;
		a {
			color: $green-color;
			svg {
				width: 2rem;
				height: 2rem;
			}
			&:hover {
				color: $orange-color;
			}
		}
	}
}

.info {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 5rem;
	br {
		display: none;
	}
}

.main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textDiv {
	display: grid;
	place-content: center;
}

@media screen and (max-width: 768px) {
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		br {
			display: inline;
		}
		h1 {
			font-size: 3.5rem;
		}
	}
	.image {
		margin: 5rem 0 2rem 0;
	}
	.imgDiv {
		order: 1;
	}
	.textDiv {
		order: 2;
	}
}
